[submodule "echoic/public/scripts/nestjs"]
	path = echoic/public/scripts/nestjs
	url = git@github.com:reiddraper/nestjs.git
[submodule "sample/chrome/content/nestjs"]
	path = sample/chrome/content/nestjs
	url = git@github.com:reiddraper/nestjs.git
