#content
  #sidebar
    #images
  #info
    #topbar
      #artistname
      #hotttnesss
    #infobody
      #news
      #similar
#locker(hidden=true)
#rocker(hidden=true)
script
  Echoic.echoes($, '#{id}');
