!!!
html
  head
    title Echoic
    link(rel='stylesheet', href='/stylesheets/echoic.css')
    script(src='/scripts/nestjs/src/nest.js')
    script(src='/scripts/echoic.js')
  body
    #header
      h1#title Echoic
    #container
      !=body
