!!!
html
  head
    title Echoic
    link(rel='stylesheet', href='/stylesheets/echoic.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js')
    script(src='/scripts/echoic.js')
  body
    #header
      a#title(href='/')
      a#poweredby(href='http://echonest.com', target='_blank')
    #container
      !=body

